
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Open+Sans:ital,wght@1,800&family=Space+Mono&display=swap');
;

.body{
    padding: 0.1rem;
    overflow-x: hidden;
    box-sizing:2%, 3%;
    margin: 2px,2px;
}


.title{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 40px, solid, rgb(90, 5, 62);
    color: red;
    background-color:blue;
    font-size:medium;
}

.h1 {
    text-align: center;
    color:brown;
}
.container{
    margin: 1rem, 2rem;
    background-color:blueviolet;
    border: 70px, rgb(60, 3, 15);
    border: radius 45px;
}

.menu {
    display:flex;
    flex-flow:row;
    justify-content:center;
}

.dishes h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    font-size:3rem;
}

.dishes ul{
    list-style: none;
    padding:1rem;
}

.dishes ul li{
    color:burlywood;
    font-family:'Arial Narrow Bold', sans-serif;
    font-size:medium;
    font-weight:bold;
    padding-bottom:1rem;
}

.priceList li{
    color: greenyellow !important;
}

.menuform {
    text-align:center;
    margin:1rem;
}

.menuform input{
    border:none;
    padding:1rem;
    width: 20%;
    margin-bottom:1.2rem;
    border-radius: 12px;
}

.btn{
    text-align:center;
    color:antiquewhite;
    background-color:blue;
    justify-content: center;
    padding:0.1rem;
}